
.weatherLocationCont {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
    min-width: 400px;
    box-sizing: border-box;
    padding: 25px;
    font-family: 'Roboto', 'sans-serif';
    -webkit-box-shadow: 10px 10px 42px 13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 42px 13px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 42px 13px rgba(0,0,0,0.75);
    background: rgba(0,200,0,0.1);
    cursor: pointer;
}

.locationCont {
    width: 100%;
    height: 25px;
    text-align: left;
    padding-left: 10px;
    color: #888;
    line-height: 30px;
}

.locationCont h1{
    margin: 0;
    margin-bottom: 5px;
}