
.weatherDataCont{
    background: rgb(200, 200, 200, 0.5);
    width: 100%;
    height: 100px;
    line-height: 100px;
    border-radius: 5px;
}

.weatherTemperatureCont{
    width: 60%;
    display: inline-block;
}

.temperature {
    font-size: 35px;
    font-weight: bold;
    padding-left: 20px;
    color: #333;
}

.temperaturetype {
    font-weight: bold;
    color: #666;
}

.wicon {
    color: rgb(248, 172, 29);
}

.weatherExtraInfoCont{
    width: 40%;
    display: inline-block;
    line-height: 25px;
    text-align: left;
}

.extraInfoText{
    display: block;
    color: rgb(52, 18, 247);
    font-size: 18px;
    font-weight: bold;
}